# ignore all files starting with .
.*

# Track this file .gitignore (i.e. do NOT ignore it)
!.gitignore

# Ignore everything inside local/
local/*

# Allow Git to enter local/skills/
!local/skills/

# Ignore all subdirectories/files inside local/skills/
local/skills/*

# Un-ignore the template directory and its contents
!local/skills/_template/
